---
import "../styles/global.css";
import { Navbar } from "../components/react/navbar";
import { Tagline } from "../components/react/tagline";
import { About } from "../components/react/about";
import { Contact } from "../components/react/contact";
import { Socials } from "../components/react/socials";
import { Projects } from "../components/react/projects";
import { Photo } from "../components/react/photo";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mini Portfolio</title>
  </head>

  <body class="bg-black p-4 h-screen flex flex-col gap-y-4">
    <Navbar client:load />

    <div class="grid grid-cols-10 gap-4 h-[calc(100vh-70px-32px-4px)]">
      <div class="col-span-7 w-full h-full">
        <div class="flex flex-col gap-y-4 h-full w-full">
          <div class="grid grid-cols-8 h-[60%] gap-4">
            <Tagline client:load />

            <Photo client:load />
          </div>

          <div class="grid grid-cols-2 h-[40%] gap-4">
            <About client:load />
            <Contact client:load />
          </div>
        </div>
      </div>

      <div class="col-span-3 flex flex-col gap-y-4">
        <Projects client:load />
        <Socials client:load />
      </div>
    </div>
  </body>
</html>
